<nav class="navbar navbar-dark bg-success">
  <div class="container-fluid d-flex justify-content-center">
    <a class="navbar-brand" href="#">
      Mercadito Web 🛒
    </a>
    <i class="fa-light fa-cart-circle-plus fa-3x"></i>
  </div>
</nav>